{% load staticfiles %}
<html>
<head>
<title>
BlOGGed | {{title}}
</title>
<link href="{% static 'bstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<script type = "text/javascript" 
         src = "{% static 'js_files/jq/jquery.min.js' %}"></script>
          <!--{% block content %}

          {% endblock %}-->

</script>

<script src="{% static 'js_files/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bstrap/js/bootstrap.min.js' %}"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="{% static 'js_files/jquery.easing.min.js' %}"></script>
</head>
<body style="background-color:rgb(211,211,211);margin: 0px 0px 0px 0px;">{% csrf_token %}
<div class="container">
			  <div class="page header" id="contacts" style="background-color:rgb(255,218,185);margin: 0px 0px 0px 0px; padding:0px 0px 0px 0px;" ><h2 style="font-style:Garamond;">SUBMITTED!</h2></div>
			  </div>
			  <a href="/posts/make/"><button type="submit" style="margin-left:60px;" value="submit" class="btn btn-primary">New Post</button></a>
			  
			 
    <script src="jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="bstrap/js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript 
    <script src="jquery.easing.min.js"></script>-->
    </body>
</html>